___

# **Data Cleaning**
   - Handling missing data (dropna, fillna)


   Handling missing data is an important aspect of data cleaning in pandas. Two common methods are **`dropna`** and **`fillna`**. Here's an easy explanation for both:

### `dropna`

**`dropna`** is used to **remove** rows or columns that contain missing values (NaNs).

#### Examples:

1. **Remove rows with any NaN values:**
   ```python
   df.dropna()
   ```
   This will remove all rows that have at least one NaN value.

2. **Remove columns with any NaN values:**
   ```python
   df.dropna(axis=1)
   ```
   This will remove all columns that have at least one NaN value.

3. **Remove rows where all elements are NaN:**
   ```python
   df.dropna(how='all')
   ```
   This will only remove rows where all the elements are NaN.

### `fillna`

**`fillna`** is used to **fill** missing values with a specified value or a method.

#### Examples:

1. **Fill NaN with a specific value:**
   ```python
   df.fillna(0)
   ```
   This will replace all NaN values with 0.

2. **Fill NaN with the mean of the column:**
   ```python
   df.fillna(df.mean())
   ```
   This will replace NaN values with the mean of their respective column.

3. **Forward fill (propagate the last valid observation forward):**
   ```python
   df.fillna(method='ffill')
   ```
   This will replace NaN values with the last valid observation.

4. **Backward fill (propagate the next valid observation backward):**
   ```python
   df.fillna(method='bfill')
   ```
   This will replace NaN values with the next valid observation.

### Examples in Practice

In [200]:
# Example DataFrame:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4],
    'C': [1, 2, 3, np.nan]
}

df = pd.DataFrame(data)
print(df)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN

In [201]:
#Using `dropna`:

# Drop rows with any NaN values
df_cleaned = df.dropna()
print(df_cleaned)

     A    B    C
1  2.0  2.0  2.0

In [202]:
# Using `fillna`:

# Fill NaN values with 0
df_filled = df.fillna(0)
print(df_filled)

     A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  2.0
2  0.0  3.0  3.0
3  4.0  4.0  0.0

----

# - **Data type conversions**

Converting data types in pandas is a common task, especially when you need to ensure that your data is in the correct format for analysis. Hereâ€™s an easy guide to data type conversions in pandas.

### **Basic Data Type Conversions**

#### **1. Converting a Single Column**

To convert the data type of a single column, you can use the `astype` method.

**Example:**

In [203]:
import pandas as pd

data = {'A': ['1', '2', '3', '4']}
df = pd.DataFrame(data)

# Convert column A to integer
df['A'] = df['A'].astype(int)
print(df.dtypes)

A    int64
dtype: object

#### **2. Converting Multiple Columns**

You can convert multiple columns by applying `astype` on a subset of the DataFrame.

**Example:**

In [204]:
data = {'A': ['1', '2', '3', '4'], 'B': ['5.1', '6.2', '7.3', '8.4']}
df = pd.DataFrame(data)

# Convert columns A to integer and B to float
df = df.astype({'A': int, 'B': float})
print(df.dtypes)

A      int64
B    float64
dtype: object

### **Advanced Data Type Conversions**

#### **1. Converting to Categorical**

Categorical data types can save memory and are useful for variables that have a fixed number of distinct values.

**Example:**

In [205]:
data = {'A': ['cat', 'dog', 'cat', 'bird']}
df = pd.DataFrame(data)

# Convert column A to categorical
df['A'] = df['A'].astype('category')
print(df.dtypes)
print(df['A'].cat.categories)

A    category
dtype: object
Index(['bird', 'cat', 'dog'], dtype='object')

#### **2. Converting to Datetime**

Datetime conversion is essential for time series analysis.

**Example:**

In [206]:
data = {'A': ['2021-01-01', '2021-02-01', '2021-03-01']}
df = pd.DataFrame(data)

# Convert column A to datetime
df['A'] = pd.to_datetime(df['A'])
print(df.dtypes)

A    datetime64[ns]
dtype: object

### **Handling Conversion Errors**

If the data has some values that cannot be converted, you can use `errors='coerce'` to handle them. This will replace unconvertible values with `NaT` for dates or `NaN` for numbers.

**Example:**

In [207]:
data = {'A': ['1', '2', 'three', '4']}
df = pd.DataFrame(data)

# Convert column A to integer, invalid parsing will be set as NaN

df['A'] = pd.to_numeric(df['A'], errors='coerce')
print(df)

     A
0  1.0
1  2.0
2  NaN
3  4.0

### **Checking Data Types**

To see the data types of all columns in a DataFrame, you can use the `dtypes` attribute.

**Example:**

In [208]:
data = {'A': ['1', '2', '3', '4'], 'B': ['5.1', '6.2', '7.3', '8.4']}
df = pd.DataFrame(data)

print(df.dtypes)

A    object
B    object
dtype: object

By mastering these data type conversion techniques, you can ensure that your DataFrame has the appropriate types for effective analysis.

----
----

# **Duplicates (duplicated, drop_duplicates)**

Handling duplicates in a DataFrame is essential to ensure data integrity and accuracy. Pandas provides methods like **`duplicated`** and **`drop_duplicates`** to manage duplicate data easily.

### **Checking for Duplicates: `duplicated`**

The **`duplicated`** method returns a boolean Series indicating whether each row is a duplicate.

#### **Examples:**

1. **Identify all duplicate rows:**

In [209]:
import pandas as pd

data = {'A': [1, 2, 2, 4, 5, 5],
           'B': ['a', 'b', 'b', 'd', 'e', 'e']}
df = pd.DataFrame(data)

# Check for duplicate rows
duplicates = df.duplicated()
print(duplicates)

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

This will print a Series where `True` indicates the row is a duplicate.

2. **Identify duplicate rows based on a specific column:**

In [210]:
# Check for duplicates in column 'A'
duplicates_in_A = df.duplicated(subset=['A'])
print(duplicates_in_A)

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

   This will print a Series indicating duplicates based on column 'A'.

### **Removing Duplicates: `drop_duplicates`**

The **`drop_duplicates`** method removes duplicate rows from the DataFrame.

#### **Examples:**

1. **Remove all duplicate rows:**

In [211]:
# Drop all duplicate rows
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

#This will remove all rows that are duplicates.

   A  B
0  1  a
1  2  b
3  4  d
4  5  e

----

2. **Remove duplicate rows based on specific columns:**

In [212]:
# Drop duplicates based on column 'A'
df_no_duplicates_in_A = df.drop_duplicates(subset=['A'])
print(df_no_duplicates_in_A)

   A  B
0  1  a
1  2  b
3  4  d
4  5  e

This will remove duplicates based on column 'A'.

----

3. **Keep the last occurrence of the duplicate row:**

In [213]:
# Keep the last occurrence of duplicate rows
df_keep_last = df.drop_duplicates(keep='last')
print(df_keep_last)

   A  B
0  1  a
2  2  b
3  4  d
5  5  e

 By default, `keep='first'` retains the first occurrence. Using `keep='last'` retains the last occurrence.

----

## **Example in Practice**

In [214]:
# Example DataFrame:
data = {'A': [1, 2, 2, 4, 5, 5],
        'B': ['a', 'b', 'b', 'd', 'e', 'e']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
   A  B
0  1  a
1  2  b
2  2  b
3  4  d
4  5  e
5  5  e

#### Using `duplicated`:

In [215]:
# Check for duplicate rows
duplicates = df.duplicated()
print("\nDuplicate rows (True indicates a duplicate):")
print(duplicates)

Duplicate rows (True indicates a duplicate):
0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

#### Using `drop_duplicates`:

In [216]:
# Drop all duplicate rows
df_no_duplicates = df.drop_duplicates()
print("\nDataFrame after dropping duplicates:")
print(df_no_duplicates)

DataFrame after dropping duplicates:
   A  B
0  1  a
1  2  b
3  4  d
4  5  e

#### Dropping duplicates based on a specific column:

In [217]:
# Drop duplicates based on column 'A'
df_no_duplicates_in_A = df.drop_duplicates(subset=['A'])
print("\nDataFrame after dropping duplicates based on column 'A':")
print(df_no_duplicates_in_A)

DataFrame after dropping duplicates based on column 'A':
   A  B
0  1  a
1  2  b
3  4  d
4  5  e

By using these methods, you can effectively manage duplicates in your DataFrame to ensure clean and reliable data for analysis.

----
----

#  **String operations**

String operations in pandas are essential for manipulating and analyzing textual data. Pandas provides a variety of string methods accessible via the `.str` accessor, making it easy to perform complex string operations on DataFrame columns.

### **Basic String Operations**

#### **1. Converting to Lowercase and Uppercase**

- **Lowercase:**

In [218]:
import pandas as pd

data = {'A': ['Hello', 'World', 'Pandas', 'DataFrame']}
df = pd.DataFrame(data)

In [219]:
# Convert to lowercase
df['A_lower'] = df['A'].str.lower()
print(df)

           A    A_lower
0      Hello      hello
1      World      world
2     Pandas     pandas
3  DataFrame  dataframe

- **Uppercase:**

In [220]:
# Convert to uppercase
df['A_upper'] = df['A'].str.upper()
print(df)

           A    A_lower    A_upper
0      Hello      hello      HELLO
1      World      world      WORLD
2     Pandas     pandas     PANDAS
3  DataFrame  dataframe  DATAFRAME

----

#### **2. String Length**

- **Calculate length of each string:**

In [221]:
# Calculate string length
df['A_length'] = df['A'].str.len()
print(df)

           A    A_lower    A_upper  A_length
0      Hello      hello      HELLO         5
1      World      world      WORLD         5
2     Pandas     pandas     PANDAS         6
3  DataFrame  dataframe  DATAFRAME         9

----

#### **3. String Splitting**

- **Split strings into lists:**

In [222]:
# Split strings by a space
df['A_split'] = df['A'].str.split(' ')
print(df)

           A    A_lower    A_upper  A_length      A_split
0      Hello      hello      HELLO         5      [Hello]
1      World      world      WORLD         5      [World]
2     Pandas     pandas     PANDAS         6     [Pandas]
3  DataFrame  dataframe  DATAFRAME         9  [DataFrame]

- **Expand split strings into separate columns:**

In [223]:
# Split strings and expand into separate columns
df_split = df['A'].str.split(' ', expand=True)
print(df_split)

           0
0      Hello
1      World
2     Pandas
3  DataFrame

----

### **Advanced String Operations**

#### **1. Extracting Substrings**
- **Extract first 3 characters:**

In [224]:
# Extract first 3 characters
df['A_substring'] = df['A'].str[:3]
print(df)

           A    A_lower    A_upper  A_length      A_split A_substring
0      Hello      hello      HELLO         5      [Hello]         Hel
1      World      world      WORLD         5      [World]         Wor
2     Pandas     pandas     PANDAS         6     [Pandas]         Pan
3  DataFrame  dataframe  DATAFRAME         9  [DataFrame]         Dat

- **Extract specific patterns using regex:**

In [225]:
  # Extract digits using regex
  df['A_digits'] = df['A'].str.extract('(\n)')
  print(df)

           A    A_lower    A_upper  A_length      A_split A_substring A_digits
0      Hello      hello      HELLO         5      [Hello]         Hel      NaN
1      World      world      WORLD         5      [World]         Wor      NaN
2     Pandas     pandas     PANDAS         6     [Pandas]         Pan      NaN
3  DataFrame  dataframe  DATAFRAME         9  [DataFrame]         Dat      NaN

----

#### **2. Replacing Substrings**
- **Replace substrings:**

In [226]:
# Replace 'a' with 'o'
df['A_replace'] = df['A'].str.replace('a', 'o')
print(df)

           A    A_lower    A_upper  A_length      A_split A_substring  \
0      Hello      hello      HELLO         5      [Hello]         Hel
1      World      world      WORLD         5      [World]         Wor
2     Pandas     pandas     PANDAS         6     [Pandas]         Pan
3  DataFrame  dataframe  DATAFRAME         9  [DataFrame]         Dat

  A_digits  A_replace
0      NaN      Hello
1      NaN      World
2      NaN     Pondos
3      NaN  DotoFrome

- **Replace using regex:**

In [227]:
# Replace digits with an empty string
df['A_replace_digits'] = df['A'].str.replace('\n', '', regex=True)
print(df)

           A    A_lower    A_upper  A_length      A_split A_substring  \
0      Hello      hello      HELLO         5      [Hello]         Hel
1      World      world      WORLD         5      [World]         Wor
2     Pandas     pandas     PANDAS         6     [Pandas]         Pan
3  DataFrame  dataframe  DATAFRAME         9  [DataFrame]         Dat

  A_digits  A_replace A_replace_digits
0      NaN      Hello            Hello
1      NaN      World            World
2      NaN     Pondos           Pandas
3      NaN  DotoFrome        DataFrame

----

### **Example in Practice**
#### Example DataFrame:

In [228]:
data = {'A': ['Hello123', 'World456', 'Pandas789', 'DataFrame0']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
            A
0    Hello123
1    World456
2   Pandas789
3  DataFrame0

#### Lowercase and Uppercase:

In [229]:
# Convert to lowercase
df['A_lower'] = df['A'].str.lower()
# Convert to uppercase
df['A_upper'] = df['A'].str.upper()
print("\nDataFrame with Lowercase and Uppercase:")
print(df)

DataFrame with Lowercase and Uppercase:
            A     A_lower     A_upper
0    Hello123    hello123    HELLO123
1    World456    world456    WORLD456
2   Pandas789   pandas789   PANDAS789
3  DataFrame0  dataframe0  DATAFRAME0

#### String Length:

In [230]:
# Calculate string length
df['A_length'] = df['A'].str.len()
print("\nDataFrame with String Length:")
print(df)

DataFrame with String Length:
            A     A_lower     A_upper  A_length
0    Hello123    hello123    HELLO123         8
1    World456    world456    WORLD456         8
2   Pandas789   pandas789   PANDAS789         9
3  DataFrame0  dataframe0  DATAFRAME0        10

#### String Splitting:

In [231]:
# Split strings by digits
df['A_split'] = df['A'].str.split('\n')
print("\nDataFrame with Split Strings:")
print(df)

DataFrame with Split Strings:
            A     A_lower     A_upper  A_length       A_split
0    Hello123    hello123    HELLO123         8    [Hello123]
1    World456    world456    WORLD456         8    [World456]
2   Pandas789   pandas789   PANDAS789         9   [Pandas789]
3  DataFrame0  dataframe0  DATAFRAME0        10  [DataFrame0]

#### Extracting Substrings:

In [232]:
# Extract first 5 characters
df['A_substring'] = df['A'].str[:5]
print("\nDataFrame with Extracted Substrings:")
print(df)

DataFrame with Extracted Substrings:
            A     A_lower     A_upper  A_length       A_split A_substring
0    Hello123    hello123    HELLO123         8    [Hello123]       Hello
1    World456    world456    WORLD456         8    [World456]       World
2   Pandas789   pandas789   PANDAS789         9   [Pandas789]       Panda
3  DataFrame0  dataframe0  DATAFRAME0        10  [DataFrame0]       DataF

#### Replacing Substrings:

In [233]:
# Replace digits with '#'
df['A_replace_digits'] = df['A'].str.replace('\n', '#', regex=True)
print("\nDataFrame with Replaced Substrings:")
print(df)

DataFrame with Replaced Substrings:
            A     A_lower     A_upper  A_length       A_split A_substring  \
0    Hello123    hello123    HELLO123         8    [Hello123]       Hello
1    World456    world456    WORLD456         8    [World456]       World
2   Pandas789   pandas789   PANDAS789         9   [Pandas789]       Panda
3  DataFrame0  dataframe0  DATAFRAME0        10  [DataFrame0]       DataF

  A_replace_digits
0         Hello123
1         World456
2        Pandas789
3       DataFrame0

----
----

# **Data Manipulation**
## - Merging, joining, and concatenating

## **Merging**

**Merging** DataFrames is like combining tables in a database. You merge DataFrames based on a common column, which is called a key.

#### Example:

In [234]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})

# Merge the DataFrames on the 'key' column
merged_df = pd.merge(df1, df2, on='key')
print(merged_df)

  key  value1  value2
0   A       1       4
1   B       2       5

In this example, the `merge` function combines `df1` and `df2` where the `key` column matches.

**Types of Merges:**

- **Inner Merge:** Keeps only the rows with keys that are in both DataFrames.

In [235]:
pd.merge(df1, df2, on='key', how='inner')

  key  value1  value2
0   A       1       4
1   B       2       5

- **Outer Merge:** Keeps all rows, filling with NaNs where there are no matches.

In [236]:
pd.merge(df1, df2, on='key', how='outer')

  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

- **Left Merge:** Keeps all rows from the left DataFrame, filling with NaNs from the right.

In [237]:
pd.merge(df1, df2, on='key', how='left')

  key  value1  value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN

- **Right Merge:** Keeps all rows from the right DataFrame, filling with NaNs from the left.

In [238]:
pd.merge(df1, df2, on='key', how='right')

  key  value1  value2
0   A     1.0       4
1   B     2.0       5
2   D     NaN       6

----

## **Joining**

**Joining** is similar to merging but is based on the indexes of the DataFrames.

#### Example:

In [239]:
# Create two sample DataFrames with indexes
df1 = pd.DataFrame({'value1': [1, 2, 3]}, index=['A', 'B', 'C'])
df2 = pd.DataFrame({'value2': [4, 5, 6]}, index=['A', 'B', 'D'])

In [240]:
# Join the DataFrames on their indexes
joined_df = df1.join(df2, lsuffix='_left', rsuffix='_right')
print(joined_df)

   value1  value2
A       1     4.0
B       2     5.0
C       3     NaN

In this example, the `join` function combines `df1` and `df2` based on their indexes.

**Types of Joins:**
- **Left Join (default):**

In [241]:
df1.join(df2)

   value1  value2
A       1     4.0
B       2     5.0
C       3     NaN

- **Right Join:**

In [242]:
df1.join(df2, how='right')

   value1  value2
A     1.0       4
B     2.0       5
D     NaN       6

- **Inner Join:**

In [243]:
df1.join(df2, how='inner')

   value1  value2
A       1       4
B       2       5

- **Outer Join:**

In [244]:
df1.join(df2, how='outer')

   value1  value2
A     1.0     4.0
B     2.0     5.0
C     3.0     NaN
D     NaN     6.0

----

## **Concatenating**

**Concatenating** is like stacking DataFrames either vertically or horizontally.

In [245]:
#### Example:

# Create two sample DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'], 'B': ['B3', 'B4', 'B5']})

# Concatenate the DataFrames along rows (axis=0)
concat_df = pd.concat([df1, df2], axis=0)
print(concat_df)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In this example, the `concat` function stacks `df1` and `df2` vertically.

**Concatenate along columns:**

In [246]:
# Concatenate along columns (axis=1)
concat_cols_df = pd.concat([df1, df2], axis=1)
print(concat_cols_df)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

**Concatenate with keys:**

In [247]:
# Concatenate with keys to identify source DataFrame
concat_keys_df = pd.concat([df1, df2], keys=['df1', 'df2'])
print(concat_keys_df)

        A   B
df1 0  A0  B0
    1  A1  B1
    2  A2  B2
df2 0  A3  B3
    1  A4  B4
    2  A5  B5

***By understanding these methods, you can effectively combine and manipulate DataFrames in pandas to suit your analysis needs.***

----

- # **Reshaping data (pivot, melt)**

Reshaping data in pandas is useful for changing the layout of your DataFrame. Two key functions for reshaping are **pivot** and **melt**. Hereâ€™s how to use them, explained in a way thatâ€™s easy to understand for beginners.

### Pivot

**Pivot** is used to transform or reshape data where columns become rows and rows become columns. Itâ€™s often used to create a new DataFrame from an existing one by specifying an index, columns, and values.

#### Example:

In [248]:
import pandas as pd

# Create a sample DataFrame
data = {'date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02'],
        'city': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
        'temperature': [32, 75, 30, 77]}

df = pd.DataFrame(data)

# Pivot the DataFrame
pivot_df = df.pivot(index='date', columns='city', values='temperature')
print(pivot_df)

city        Los Angeles  New York
date
2021-01-01           75        32
2021-01-02           77        30

In this example:
- The `index` is set to 'date'.
- The `columns` are set to 'city'.
- The `values` are the 'temperature'.

This creates a new DataFrame where dates are the index and cities are the columns, showing the temperature for each city on each date.

----

### Melt

**Melt** is used to convert a DataFrame from wide format to long format. Itâ€™s the opposite of pivot and is useful when you want to unpivot your data to make it easier to plot or analyze.

#### Example:

In [249]:
# Create a sample DataFrame
data = {'date': ['2021-01-01', '2021-01-02'],
        'New York': [32, 30],
        'Los Angeles': [75, 77]}

df = pd.DataFrame(data)

# Melt the DataFrame
melt_df = pd.melt(df, id_vars=['date'], value_vars=['New York', 'Los Angeles'],
                  var_name='city', value_name='temperature')
print(melt_df)

         date         city  temperature
0  2021-01-01     New York           32
1  2021-01-02     New York           30
2  2021-01-01  Los Angeles           75
3  2021-01-02  Los Angeles           77

In this example:
- The `id_vars` is set to 'date', which means it will remain as an identifier.
- The `value_vars` are 'New York' and 'Los Angeles', which are the columns to unpivot.
- The `var_name` is set to 'city', which will hold the column names.
- The `value_name` is set to 'temperature', which will hold the values.

This transforms the DataFrame into a long format where each row represents a single observation of temperature for a city on a given date.

### Putting It All Together

#### Example DataFrame:

In [250]:
data = {'date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02'],
        'city': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
        'temperature': [32, 75, 30, 77]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
         date         city  temperature
0  2021-01-01     New York           32
1  2021-01-01  Los Angeles           75
2  2021-01-02     New York           30
3  2021-01-02  Los Angeles           77

----

#### Pivoting:

In [251]:
pivot_df = df.pivot(index='date', columns='city', values='temperature')
print("\nPivoted DataFrame:")
print(pivot_df)

Pivoted DataFrame:
city        Los Angeles  New York
date
2021-01-01           75        32
2021-01-02           77        30

----

#### Melting:

In [252]:
# Create a wide format DataFrame to melt
wide_df = pd.DataFrame({'date': ['2021-01-01', '2021-01-02'],
                        'New York': [32, 30],
                        'Los Angeles': [75, 77]})

melt_df = pd.melt(wide_df, id_vars=['date'], value_vars=['New York', 'Los Angeles'],
                  var_name='city', value_name='temperature')
print("\nMelted DataFrame:")
print(melt_df)

Melted DataFrame:
         date         city  temperature
0  2021-01-01     New York           32
1  2021-01-02     New York           30
2  2021-01-01  Los Angeles           75
3  2021-01-02  Los Angeles           77

***By understanding pivot and melt, you can reshape your data to fit your analysis needs better, making it easier to visualize and work with.***

----

- # Grouping data (groupby, aggregation functions)

Grouping data is essential for summarizing and analyzing large datasets. Pandas provides the **`groupby`** method to group data by one or more columns, and then apply aggregation functions to summarize the data.

### Grouping Data with `groupby`

The **`groupby`** method is used to split the data into groups based on some criteria, then apply a function to each group independently.

#### Example:

In [267]:
import pandas as pd

import pandas as pd

data = {'city': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York', 'Los Angeles'],
        'date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02', '2021-01-03', '2021-01-03'],
        'temperature': [32, 75, 30, 77, 28, 78],
        'humidity': [80, 20, 85, 30, 75, 25]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
          city        date  temperature  humidity
0     New York  2021-01-01           32        80
1  Los Angeles  2021-01-01           75        20
2     New York  2021-01-02           30        85
3  Los Angeles  2021-01-02           77        30
4     New York  2021-01-03           28        75
5  Los Angeles  2021-01-03           78        25

In [268]:
# Group by 'city'
grouped = df.groupby('city')

In this example, the DataFrame `df` is grouped by the 'city' column.

### Aggregation Functions

Once the data is grouped, you can apply various aggregation functions to summarize the data.

#### Common Aggregation Functions:

- **Mean:** Calculate the average value.

In [270]:
# Calculate the mean for numeric columns
mean_df = grouped[['temperature', 'humidity']].mean()
print("\nMean of grouped data:")
print(mean_df)

Mean of grouped data:
             temperature  humidity
city
Los Angeles    76.666667      25.0
New York       30.000000      80.0

- **Sum:** Calculate the total value.

In [ ]:
sum_df = grouped.sum()
print(sum_df)

                             date  temperature
city
Los Angeles  2021-01-012021-01-02          152
New York     2021-01-012021-01-02           62

- **Count:** Count the number of occurrences.

In [ ]:
count_df = grouped.count()
print(count_df)

             date  temperature
city
Los Angeles     2            2
New York        2            2

- **Max:** Find the maximum value.

In [ ]:
max_df = grouped.max()
print(max_df)

                   date  temperature
city
Los Angeles  2021-01-02           77
New York     2021-01-02           32

- **Min:** Find the minimum value.

In [ ]:
min_df = grouped.min()
print(min_df)

                   date  temperature
city
Los Angeles  2021-01-01           75
New York     2021-01-01           30

### Applying Multiple Aggregation Functions

You can apply multiple aggregation functions using the **`agg`** method.

#### Example:

In [255]:
# Apply multiple aggregation functions
agg_df = grouped.agg({'temperature': ['mean', 'max'], 'humidity': ['min', 'max']})
print(agg_df)

            temperature     humidity
                   mean max      min max
city
Los Angeles   76.666667  78       20  30
New York      30.000000  32       75  85

In this example, we calculate the mean and max for temperature and the min and max for humidity.

### Grouping by Multiple Columns

You can also group by multiple columns.

In [ ]:
#### Example:

# Group by 'city' and 'date'
multi_grouped = df.groupby(['city', 'date'])

# Calculate the mean for each group
multi_mean_df = multi_grouped.mean()
print(multi_mean_df)

                        temperature  humidity
city        date
Los Angeles 2021-01-01         75.0      20.0
            2021-01-02         77.0      30.0
            2021-01-03         78.0      25.0
New York    2021-01-01         32.0      80.0
            2021-01-02         30.0      85.0
            2021-01-03         28.0      75.0

In this example, the DataFrame is grouped by both 'city' and 'date', and the mean is calculated for each group.

### Custom Aggregation Functions

You can apply custom aggregation functions by defining your own functions.

In [256]:
#### Example:
# Define a custom function
def range_func(x):
    return x.max() - x.min()

# Apply the custom function
custom_agg_df = grouped.agg({'temperature': range_func, 'humidity': range_func})
print(custom_agg_df)

             temperature  humidity
city
Los Angeles            3        10
New York               4        10

In this example, we define a custom function to calculate the range (max - min) and apply it to the grouped data.

### Putting It All Together

In [ ]:
#### Example DataFrame:

data = {'city': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York', 'Los Angeles'],
        'date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02', '2021-01-03', '2021-01-03'],
        'temperature': [32, 75, 30, 77, 28, 78],
        'humidity': [80, 20, 85, 30, 75, 25]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
          city        date  temperature  humidity
0     New York  2021-01-01           32        80
1  Los Angeles  2021-01-01           75        20
2     New York  2021-01-02           30        85
3  Los Angeles  2021-01-02           77        30
4     New York  2021-01-03           28        75
5  Los Angeles  2021-01-03           78        25

### Grouping and Aggregating:

In [ ]:
# Group by 'city'
grouped = df.groupby('city')

In [260]:
mean_df = grouped[['temperature', 'humidity']].mean()
print("\nMean of grouped data:")
print(mean_df)

Mean of grouped data:
             temperature  humidity
city
Los Angeles    76.666667      25.0
New York       30.000000      80.0

In [258]:
# Apply multiple aggregation functions
agg_df = grouped.agg({'temperature': ['mean', 'max'], 'humidity': ['min', 'max']})
print("\nMultiple aggregation functions:")
print(agg_df)

Multiple aggregation functions:
            temperature     humidity
                   mean max      min max
city
Los Angeles   76.666667  78       20  30
New York      30.000000  32       75  85

In [ ]:
# Group by 'city' and 'date'
multi_grouped = df.groupby(['city', 'date'])

In [259]:
# Calculate mean for each group
multi_mean_df = multi_grouped.mean()
print("\nMean of grouped data by 'city' and 'date':")
print(multi_mean_df)

Mean of grouped data by 'city' and 'date':
                        temperature  humidity
city        date
Los Angeles 2021-01-01         75.0      20.0
            2021-01-02         77.0      30.0
            2021-01-03         78.0      25.0
New York    2021-01-01         32.0      80.0
            2021-01-02         30.0      85.0
            2021-01-03         28.0      75.0

***By understanding how to group and aggregate data, you can efficiently summarize and analyze large datasets in pandas.***

----

- # **Applying functions (apply, map)**

### Applying Functions in Pandas: `apply` and `map`

Pandas provides powerful methods like `apply` and `map` to apply functions to your data. These methods allow you to perform operations on DataFrame or Series objects easily.

### Using `apply` on a DataFrame

The `apply` method can be used to apply a function along either axis of the DataFrame (rows or columns).

#### Example:

In [285]:
import pandas as pd

data = {'A': [1, 2, 3, 4], 'B': [10, 20, 30, 40]}
df = pd.DataFrame(data)

# Apply a function to each column
def square(x):
    return x ** 2

result = df.apply(square)
print("Applying function to each column:")
print(result)

Applying function to each column:
    A     B
0   1   100
1   4   400
2   9   900
3  16  1600

In this example, the `square` function is applied to each element in the DataFrame, squaring each value.

### Using `apply` on a Series

The `apply` method can also be used on a Series to apply a function to each element.

#### Example:

In [284]:
import pandas as pd

data = [1, 2, 3, 4]
s = pd.Series(data)

# Apply a function to each element
result = s.apply(lambda x: x + 10)
print("Applying function to each element of Series:")
print(result)

Applying function to each element of Series:
0    11
1    12
2    13
3    14
dtype: int64

Here, a lambda function is used to add 10 to each element of the Series.

### Using `map` on a Series

The `map` method is used to apply a function to each element of a Series. It is similar to `apply` but works only on Series objects.

#### Example:

In [283]:
import pandas as pd

data = [1, 2, 3, 4]
s = pd.Series(data)

# Map a function to each element
result = s.map(lambda x: x * 2)
print("Mapping function to each element of Series:")
print(result)

Mapping function to each element of Series:
0    2
1    4
2    6
3    8
dtype: int64

In this example, a lambda function is used to multiply each element of the Series by 2.

### Using `applymap` on a DataFrame

The `applymap` method is used to apply a function to each element of the DataFrame.

#### Example:

In [282]:
import pandas as pd

data = {'A': [1, 2, 3, 4], 'B': [10, 20, 30, 40]}
df = pd.DataFrame(data)

# Apply a function to each element of the DataFrame
result = df.map(lambda x: x + 100)
print("Applying function to each element of DataFrame:")
print(result)

Applying function to each element of DataFrame:
     A    B
0  101  110
1  102  120
2  103  130
3  104  140

In this example, a lambda function is used to add 100 to each element of the DataFrame.

### Putting It All Together

Here is a complete code example that demonstrates the use of `apply`, `map`, and `applymap`:

In [272]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4], 'B': [10, 20, 30, 40]}
df = pd.DataFrame(data)

In [273]:
# Function to apply
def square(x):
    return x ** 2

In [274]:
# Apply a function to each column of the DataFrame
result_apply = df.apply(square)
print("Applying function to each column:")
print(result_apply)

Applying function to each column:
    A     B
0   1   100
1   4   400
2   9   900
3  16  1600

In [276]:
# Sample Series
s = pd.Series([1, 2, 3, 4])

In [277]:
# Apply a function to each element of the Series
result_apply_series = s.apply(lambda x: x + 10)
print("\nApplying function to each element of Series:")
print(result_apply_series)

Applying function to each element of Series:
0    11
1    12
2    13
3    14
dtype: int64

In [278]:
# Map a function to each element of the Series
result_map = s.map(lambda x: x * 2)
print("\nMapping function to each element of Series:")
print(result_map)

Mapping function to each element of Series:
0    2
1    4
2    6
3    8
dtype: int64

In [280]:
# Apply a function to each element of the DataFrame
result_applymap = df.map(lambda x: x + 100)
print("\nApplying function to each element of DataFrame:")
print(result_applymap)

Applying function to each element of DataFrame:
     A    B
0  101  110
1  102  120
2  103  130
3  104  140

***By using these methods, you can efficiently apply custom functions to your data in Pandas.***